In [1]:
# !pip install flickrapi
# !pip install requests

In [2]:
import pandas as pd
import numpy as np
dfraw= pd.read_csv('../data/raw/df_with_picStatus.csv')

/var/folders/gl/_lkmfl_d3_sbkbd9f1zkt79h0000gq/T/ipykernel_69660/1410185032.py:3: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  dfraw= pd.read_csv('../data/raw/df_with_picStatus.csv')

In [3]:
df= dfraw[dfraw['img_access']==1]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 251295 entries, 0 to 304951
Data columns (total 25 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   url                   251295 non-null  object
 1   img                   251295 non-null  object
 2   img_access            251295 non-null  int64
 3   label                 251295 non-null  float64
 4   Category              251295 non-null  object
 5   Concept               251295 non-null  object
 6   Pid                   251295 non-null  int64
 7   Uid                   251295 non-null  object
 8   Subcategory           251295 non-null  object
 9   Alltags               251295 non-null  object
 10  Title                 242528 non-null  object
 11  Postdate              251295 non-null  int64
 12  Longitude             251295 non-null  float64
 13  Geoaccuracy           251295 non-null  int64
 14  Latitude              251295 non-null  float64
 15  photo_firstdatetaken  251295 non-null  int64
 16  location_description  125616 non-null  object
 17  photo_count           251295 non-null  int64
 18  ispro                 251295 non-null  int64
 19  user_description      251295 non-null  object
 20  canbuypro             251295 non-null  int64
 21  timezone_timezone_id  251295 non-null  int64
 22  photo_firstdate       250916 non-null  object
 23  timezone_offset       251295 non-null  int64
 24  Pathalias             251295 non-null  object
dtypes: float64(3), int64(10), object(12)
memory usage: 49.8+ MB

In [4]:
df.reset_index(inplace=True, drop=True)
df.shape

(251295, 25)

# group Info DF

In [5]:
df['imgID']= df['img'].apply(lambda x: x.split('.')[0])
df

/var/folders/gl/_lkmfl_d3_sbkbd9f1zkt79h0000gq/T/ipykernel_69660/1539463631.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['imgID']= df['img'].apply(lambda x: x.split('.')[0])

,url,img,img_access,label,Category,Concept,Pid,Uid,Subcategory,Alltags,...,location_description,photo_count,ispro,user_description,canbuypro,timezone_timezone_id,photo_firstdate,timezone_offset,Pathalias,imgID
0,https://www.flickr.com/photos/58708830@N00/385...,385070026.jpg,1,11.18,Fashion,glam,775,59@N75,Fashion,rock punk transgender tranny electronicmusic e...,...,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",6828,1,"0.0866962,-0.0752717,-0.0149407,-0.0460858,-0....",0,9,1213743830.0,1,luisdrayton,385070026
1,https://www.flickr.com/photos/97042891@N00/943...,943750056.jpg,1,15.15,Travel&Active&Sports,fifa,1075,1@N18,Soccer,brazil rio brasil riodejaneiro by maria fifa m...,...,NaN,32102,1,"0.14628,-0.0255633,-0.0711352,0.120531,-0.0728...",0,2,1263266743.0,0,claudiolara,943750056
2,https://www.flickr.com/photos/18583731@N07/324...,3246928439.jpg,1,10.99,Entertainment,cinema,4890,351@N64,Movies,old cinema beauty marilyn photoshop movie joke...,...,"0.0334692,-0.0585118,0.158872,-0.000377208,-0....",276,0,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",0,11,1296417600.0,-3,rizzato,3246928439
3,https://www.flickr.com/photos/35797910@N08/353...,3538960847.jpg,1,11.16,Food,thirsty,7079,1617@N40,Drinks,hot sahara animal animals desert bottles drink...,...,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",32102,1,"0.14628,-0.0255633,-0.0711352,0.120531,-0.0728...",0,2,1263266743.0,0,glosackmd,3538960847
4,https://www.flickr.com/photos/35797910@N08/354...,3544037429.jpg,1,12.74,Travel&Active&Sports,flip,7111,1617@N40,Gymnastics,street people india portraits photography delh...,...,NaN,32102,1,"0.14628,-0.0255633,-0.0711352,0.120531,-0.0728...",0,2,1263266743.0,0,glosackmd,3544037429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251290,https://www.flickr.com/photos/120541745@N06/27...,27597418605.jpg,1,4.00,Animal,creature,1118328,62225@N20,Insects,york travel sky urban sun france color tree gr...,...,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",8301,1,"0.104426,0.0598804,-0.0149883,0.0338535,-0.007...",0,49,1277859911.0,12,None,27597418605
251291,https://www.flickr.com/photos/92475605@N03/275...,27597517425.jpg,1,1.00,Social&People,portrait,1118334,108435@N35,Selfies,portrait cute animal cat furry panasonic calic...,...,NaN,801,0,"0.114495,-0.0303421,-0.0893819,0.0774031,-0.08...",0,3,1398624531.0,-6,matty3126,27597517425
251292,https://www.flickr.com/photos/43770052@N08/275...,27597606545.jpg,1,2.00,Travel&Active&Sports,exotic,1118342,84730@N71,Cars,car exotic german malaysia kualalumpur superca...,...,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",574,0,"0.18969,-0.0675743,-0.125082,0.097416,-0.02100...",0,2,1394377573.0,0,khooxotics,27597606545
251293,https://www.flickr.com/photos/50969511@N02/275...,27597637235.jpg,1,6.89,Whether&Season,cloud,1118344,9542@N37,Cloudy,city newzealand christchurch cloud building ca...,...,NaN,7167,1,"0.142518,-0.0121231,-0.0464556,0.0887664,-0.02...",0,20,1234576422.0,10,stevetaylors,27597637235
251294,https://www.flickr.com/photos/113604805@N04/27...,27597665145.jpg,1,1.58,Travel&Active&Sports,travel,1118345,92344@N20,Travel,city travel winter usa newyork skyline america...,...,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",7167,1,"0.142518,-0.0121231,-0.0464556,0.0887664,-0.02...",0,20,1234576422.0,10,maelick,27597665145

In [17]:
import pandas as pd
import requests
import time

# Assuming dfraw is your existing DataFrame with an 'imgid' column
# Example:
# dfraw = pd.DataFrame({
#     'imgid': ['385070026', '385070027', '385070028']  # Example image IDs
# })

# Function to get photo groups
def get_photo_groups(api_key, photo_id, per_page=200):
    url = "https://api.flickr.com/services/rest"
    params = {
        "method": "flickr.photos.getGroups",
        "api_key": api_key,
        "photo_id": photo_id,
        "format": "json",
        "nojsoncallback": "1",
        "per_page": str(per_page)
    }
    
    response = requests.get(url, params=params)
    groups = []
    if response.status_code == 200:
        data = response.json()
        groups = data.get("groups", {}).get("group", [])
    else:
        print("Error:", response.status_code, photo_id, url)
        time.sleep(30)
    
    return groups

# API Key
api_key = "169307181f957a4a16e4e30fc9ac8c77"  # Replace with your actual API key

# Initialize an empty list to store the group information
group_data = []

# replace your_start and your_end

# Run this for your range

In [18]:
your_start=-10
your_end=-1

In [19]:
import time
from tqdm import tqdm
# df, start_index, end_index, api_key, 
rate_limit=2000

# Calculate the time interval between requests to respect the rate limit
interval = 60.0 / rate_limit  # 60 seconds divided by the number of requests per minute

last_request_time = time.time()

# Wrap the iteration in tqdm for progress tracking
for imgid in tqdm(df['imgID'][your_start:your_end], desc="Processing image IDs", position=0):
    try:
        # Wait if the interval since the last request is less than the desired rate limit interval
        while time.time() - last_request_time < interval:
            time.sleep(interval - (time.time() - last_request_time))

        # Get groups for the current image ID
        groups = get_photo_groups(api_key, imgid)
        last_request_time = time.time()

        # Iterate over each group and store the details
        for group in groups:
            group_info = {
                "imgid": imgid,
                "group_id": group.get("id"),
                "title": group.get("title"),
                "member_count": group.get("member_count"),
                "pool_count": group.get("pool_count")
            }
            group_data.append(group_info)

    except Exception as e:
        print(f"Error processing image ID {imgid}: {e}")
        # Optional: wait for 30 seconds before continuing
        time.sleep(30)

Processing image IDs: 100%|██████████| 9/9 [00:02<00:00,  4.20it/s]

In [20]:
# Create a DataFrame from the collected group data
group_df = pd.DataFrame(group_data)

# Display the first few rows of the new DataFrame
group_df

,imgid,group_id,title,member_count,pool_count
0,27596838495,11611663@N00,Nature and Photography,84391,1922772
1,27596838495,52240293230@N01,canon photography,112963,7462053
2,27596890435,363008@N20,Portraits Unlimited,12510,684548
3,27596890435,44001204@N00,Portraiture (of real people),38124,1091737
4,27596890435,29496069@N00,Portraiture Photography (of real people),79206,1898127
...,...,...,...,...,...
142,27597517425,1792022@N22,M.ZUIKO DIGITAL 45mm 1:1.8 Olympus µFT,3127,48794
143,27597517425,1656261@N25,Cats of the World,33663,354677
144,27597517425,1123195@N20,Calico Cats Amazing Colors Each one different...,249,2200
145,27597517425,387770@N21,Animals (All Kinds),42978,1230090
146,27597637235,411273@N25,Creative Photo Group_ BASIC (P1-C3),30085,591266

# add the range to file

In [22]:
group_df.to_csv('group_meta_indexX_to_indexY.csv', index=False)